<a href="https://colab.research.google.com/github/saswatisamal/PythonWithGenAI/blob/main/baby_names.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[![PracticeProbs](https://d33wubrfki0l68.cloudfront.net/b6800cc830e3fd5a3a4c3d9cfb1137e6a4c15c77/ec467/assets/images/transparent-1.png)](https://www.practiceprobs.com/)

# [Baby Names](https://www.practiceprobs.com/problemsets/python-pandas/series/baby-names/)

You and your spouse decided to let the internet name your next child. You’ve asked the great people of the web to submit their favorite names, and you’ve compiled their submissions into a Series called `babynames`.

In [ ]:
import numpy as np
import pandas as pd

babynames = pd.Series([
    'Jathonathon', 'Zeltron', 'Ruger', 'Phreddy', 'Ruger', 'Chad', 'Chad',
    'Ruger', 'Ryan', 'Ruger', 'Chad', 'Ryan', 'Phreddy', 'Phreddy', 'Phreddy',
    'Mister', 'Zeltron', 'Ryan', 'Ruger', 'Ruger', 'Jathonathon',
    'Jathonathon', 'Ruger', 'Chad', 'Zeltron'], dtype='string')

Determine how many people voted for the names ‘Chad’, ‘Ruger’, and ‘Zeltron’.

---

In [24]:
# Your brilliant solution here!
#Determine how many people voted for the names ‘Chad’, ‘Ruger’, and ‘Zeltron’.

namesbyFreq=babynames.value_counts() # Returns count of each  unique names where names become the index
namesbyFreq.index
namesbyFreq.loc[['Chad','Ruger','Zeltron']]

Chad       4
Ruger      7
Zeltron    3
Name: count, dtype: Int64

## [See our solution!](https://www.practiceprobs.com/problemsets/python-pandas/series/baby-names/solution/)