<a href="https://colab.research.google.com/github/saswatisamal/PythonWithGenAI/blob/main/bees_knees.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[![PracticeProbs](https://d33wubrfki0l68.cloudfront.net/b6800cc830e3fd5a3a4c3d9cfb1137e6a4c15c77/ec467/assets/images/transparent-1.png)](https://www.practiceprobs.com/)

# [Bees Knees](https://www.practiceprobs.com/problemsets/python-pandas/series/bees-knees/)

Given, two Series `bees` and `knees`, if the ith value of `bees` is NaN, double the ith value inside `knees`.

In [19]:
import numpy as np
import pandas as pd

bees = pd.Series([True, True, False, np.nan, True, False, True, np.nan])
knees = pd.Series([5,2,9,1,3,10,5,2], index = [7,0,2,6,3,5,1,4])

knees.loc[pd.isna(bees).to_numpy()] *= 2
print(bees)
# 0     True
# 1     True
# 2    False
# 3      NaN
# 4     True
# 5    False
# 6     True
# 7      NaN
# dtype: object

print(knees)
# 7     5
# 0     2
# 2     9
# 6     1
# 3     3
# 5    10
# 1     5
# 4     2
# dtype: int64

0     True
1     True
2    False
3      NaN
4     True
5    False
6     True
7      NaN
dtype: object
7     5
0     2
2     9
6     2
3     3
5    10
1     5
4     4
dtype: int64

---

0     True
1     True
2    False
3      NaN
4     True
5    False
6     True
7      NaN
dtype: object
7    20
0    16
2     9
6     8
3    12
5    10
1    40
4    16
dtype: int64

## [See our solution!](https://www.practiceprobs.com/problemsets/python-pandas/series/bees-knees/solution/)