<a href="https://colab.research.google.com/github/saswatisamal/PythonWithGenAI/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#creating series
import pandas as pd
data=[25,30,56,78]
#Want to change the index as well
index=['Ram_Age','Sam_Age','Happy_Age','Sunil_Age']
seriesData=pd.Series(data,index=index)
print(seriesData)

Ram_Age      25
Sam_Age      30
Happy_Age    56
Sunil_Age    78
dtype: int64

In [8]:
#Creating dataframes
#Difference between array and dataframes is dataframes hold heterogeneous data but array hold homogeneous data
#Why can't we use python list but use the dataframes -> various mean,median,sd can be done using lib on dataframe which is not available in list
dataframe=pd.DataFrame([['swati','32','IT'],['nisha',29,'Fashion'],['arjun',30,'Doctor']],columns=('name','age','profession'),index=('r0','r1','r2'))
print(dataframe)

     name age profession
r0  swati  32         IT
r1  nisha  29    Fashion
r2  arjun  30     Doctor